.btn-login {
    padding: 12px;
    width: 100%;
    background: var(--azulPrimario);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
}

.btn-login:hover {
    background: var(--azulSecundario);
}


.btn-registrarse {
    padding: 12px;
    width: 100%;
    background: var(--verdeCesped);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
}

.btn-registrarse:hover {
    background: var(--verdeMenta);
}
