.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 14px;
    color: var(--grisSombra);
    font-weight: 500;
}

.input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--grisNeutro);
    background: var(--fondoClarito);
    transition: .2s;
}

.input:focus {
    outline: none;
    border-color: var(--azulPrimario);
    box-shadow: 0 0 0 2px rgba(79, 124, 172, .25);
}