.container {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.welcome-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .12);
    text-align: center;
}