@import "core/reset.css";
@import "core/variables.css";
@import "core/layout.css";

@import "components/buttons.css";
@import "components/forms.css";
@import "components/cards.css";
@import "components/tables.css";
@import "components/navs.css";
@import "components/text.css";
@import "components/images.css";

@import "pages/login.css";